.messages-container {
  overflow-y: scroll;
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .message-container {
    background-color: var(--clr-container);
    border-radius: var(--border-radius-round);
    border: 2px solid rgb(228, 228, 228);
    padding: 0.5rem 1rem;

    .message-author {
      font-weight: 700;
    }
    .message-body {
      font-size: 1.25rem;
    }
    .message-date {
      font-size: 0.75rem;
      opacity: 0.8;
      font-style: italic;
    }
  }
}
