.dog-container {
  width: 92vw;
  height: 100%;

  .dog-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-white);
    margin: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius-roundest);

    img {
      width: 50px;
      border-radius: 50%;
      aspect-ratio: 1;
      background-color: var(--clr-primary-200);
      border: 2px solid var(--clr-black);
    }

    .dog-name {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .dog-breed {
    }
    .dog-age {
    }
    .dog-sex {
    }

    svg {
      margin-left: auto;
    }
  }
}
