.home-header {
  text-align: center;
}

.warning {
  color: var(--clr-primary-700);
  font-weight: 700;
  background-color: var(--clr-primary-300);
  width: 100vw;
  padding: 1rem;
  margin-bottom: 1rem;
}
