@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import './variables.scss';

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  height: 100vh;
  background-color: var(--clr-white);
}

a,
button {
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  color: var(--clr-primary-700);
  width: max-content;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;

  input[type='text'],
  input[type='password'],
  input[type='number'] {
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-align: center;
    padding: var(--padding);
    width: 70vw;
    border-radius: var(--border-radius);
    background-color: #e9e9e9;
    border: none;
    box-shadow: 0 2px 0 0 #cfcfcf;
  }
  input[name='dog_sex'] {
    // display: none;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  text-decoration: none;
  border: solid 2px var(--clr-primary-500);
}

.btn-primary {
  font-size: 1.5rem;
  background-color: var(--clr-primary-300);
  font-weight: 800;
}

.btn-secondary {
  font-size: 1.5rem;
  background-color: transparent;
}

.notification {
  --_border: 2px solid var(--_border-color);
  position: absolute;
  top: 5rem;
  font-size: 1.5rem;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: white;
  animation: slide-top-down 500ms forwards;
  &.error {
    --_border-color: var(--clr-danger-500);
    font-weight: 700;
    border: var(--_border);
    background-color: var(--clr-danger-100);
    color: var(--clr-danger-400);
  }
  &.success {
    --_border-color: var(--clr-primary-500);
    color: var(--clr-primary-600);
    border: var(--_border);
  }
}

@keyframes slide-top-down {
  0% {
    top: 0px;
    opacity: 0;
  }
}
