:root {
  --font-family: 'Nunito', sans-serif;
  --clr-primary-900: hsl(151, 94%, 6%);
  --clr-primary-800: hsl(150, 86%, 11%);
  --clr-primary-700: hsl(150, 87%, 15%);
  --clr-primary-600: hsl(135, 65%, 35%);
  --clr-primary-500: hsl(109, 50%, 53%);
  --clr-primary-400: hsl(110, 57%, 64%);
  --clr-primary-300: hsl(110, 68%, 75%);
  --clr-primary-200: hsl(110, 59%, 81%);
  --clr-primary-100: hsl(144, 88%, 93%);
  --clr-danger-900: hsl(0, 94%, 10%);
  --clr-danger-800: hsl(0, 83%, 14%);
  --clr-danger-700: hsl(0, 79%, 26%);
  --clr-danger-600: hsl(0, 75%, 33%);
  --clr-danger-500: hsl(0, 59%, 44%);
  --clr-danger-400: hsl(0, 47%, 45%);
  --clr-danger-300: hsl(0, 51%, 62%);
  --clr-danger-200: hsl(0, 67%, 82%);
  --clr-danger-100: hsl(0, 100%, 96%);
  --clr-white: white;
  --clr-black: hsl(0, 4%, 5%);
  --clr-container: hsl(0, 0%, 95%);
  --padding: 0.5em 1.35em;
  --border-radius-round: 0.5em;
  --border-radius-rounder: 1em;
  --border-radius-roundest: 1.5em;
}
